@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');


img.logo {
	width: 120px;
	height: 70px;

	}

img.wwlogo {
  width: 253px;
  height: 70px;

}

@media only screen and (max-width: 400px) {
  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

  .booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #2e2626;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    color: #fff;
    opacity: .7
  }

	.carousel-item-next,
	.carousel-item-prev,
	.carousel-item.active {
	  display: block;
	}



	.carousel {
	  max-width: 600px;
	  margin-left: auto;
	  margin-right: auto;
	}


	body {

  }


	.navbar {

	background: image_url('light-wool.png');
	background-color: #A0D0CA;

  }

	.navbar-inverse .navbar-brand {
  color: white;
	font-family: 'Satisfy';
  font-weight: 600;
  letter-spacing: -0.3px;
	font-size: 30px;
}


.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.card {
  background-color: #fff;
  border-radius: .75rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-right: 10px;
	font-size: 15px;
  padding-bottom: -15px;
	height: 450px;

}

h1{
	font-size: 20px;
}


.djpic{
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;

}


.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 350px;
  width: 100%;
}

.container{

}

.card2 {
  background-color: #fff;
  border-radius: .75rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-right: 10px;
	font-size: 15px;
  padding-bottom: -15px;
	font-family: 'Shadows Into Light',


}
