<br>
<div class="card2 text-center">
  <br>
  <div class="row">
  <div class="djpic col-6">
  <%= image_tag 'dj2.jpg', class: 'd-block img-fluid' %>
  </div>

    <div class="djpic col-6">
    <%= image_tag 'dj1.jpg', class: 'd-block img-fluid' %>
    </div>

      <br>  <br>



  </div>
  <h1 class="text-center"> Meet The DJs</h1>

  <p>
    A wedding Dj does so much more than show up and push play for a few hours.
    The diffrence between a profssional Dj and and an inexpericned DJ, is the diffrence between a Wedding and an Epic Wedding!
    We understand that entrusting this responsibility to a stranger can be stressful!
    That's where we come in! Our mission as a company is to provide services that allow couples to be as present and stress free as possible on thier special day!
    Our Dj service epitomizes that mission!
    Dylan And Chris are Experienced DJs, that take pride in providing a profesional DJ service with that special personal touch you that Austin Wedding Helpers is known for.

    Let Us be Your DJ's!



</div>
