<br>
<div class="card2">
  <br>
  <div class="row">
  <div class="djpic col-6">
  <%= image_tag 'dj2.jpg', class: 'd-block img-fluid' %>
  </div>

    <div class="djpic col-6">
    <%= image_tag 'dj1.jpg', class: 'd-block img-fluid' %>
    </div>





  </div>
    <br>  <br>
  <h2 class="text-center"> Meet The DJs</h2>

  <div class="text-center">
    A wedding Dj does so much more than show up and push play for a few hours.
    A Rockstar DJ sets the mood of your reception, controls the flow of the wedding, serves as the emcee, helps you pick the songs for the most important moments, covers for you when things get off schedule,
    and makes sure evreyone has a chance to bust a move!
    We understand that entrusting all this responsibility to a stranger can be stressful!
      <br>  <br>
    <h1>How do you choose? Who do you choose?</h1>
    <br>  <br>

    That's where we come in! Our mission as a company is to provide services that allow couples to be as present and stress free as possible on thier special day!
    Our Dj service epitomizes that mission!
    Dylan And Chris are Experienced DJs, that take pride in providing a profesional DJ service with that special personal touch that Austin Wedding Helpers is known for.  Our basic package includes a face to face meeting to talk about your song choices and the time line on the big day!
<br><br>
    Let Us be Your DJ's!


    <br>
    <br>
</div>
  <div class="row">
    <div class="booyah-box col-6">
    <h2 class="text-center">Pricing starts at $750</h2>
    <h1 class="text-center">and Includes</h1>
    <ul>
    <li>6 Hours of Music</li>
    <li>Dance Floor Light Included</li>
    <li>Wireless Mic for Announcements and Toast</li>
    <li>A DJ Questionnarie Form to Easily Commiunicate Your Music Prefrences and Song Choices</li>
    <li> In Person Meeting Before the Big the Day</li>
    </ul>
    </div>

    <div class="logo2 col-4">
      <br><br><br><br>
    <%= image_tag 'logo2.png', class:'d-block img-fluid' %>
   </div>
 </div>
</div>
