</br>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'awh1.jpg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'awh5.jpg', class: 'd-block img-fluid' %>
    </div>
    <div class="carousel-item">
    <%= image_tag 'awh8.jpg', class: 'd-block img-fluid' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<br>
<div class="card col-5 col-xs-2 offset-1 text-center row float-right">
<div class="logo">
  <%= image_tag 'logo.jpg', class:'d-block img-fluid' %>
  </div>
  </br>


<h1> Your Wedding Day Conciearge Team</h1>
Austin Wedding Helpers is a wedding day concierge team that is based out of Austin, Texas. This multi-service business listens to couples’ needs and lends a helping hand so that their wonderful ideas are executed to perfection.
</div>

<div class="container col-4 col-xs-2 text-center row float-left">
<script src="https://cdn1.weddingwire.com/js/wp-widget.js?ssl-sf-sui-20200117-02US240-1_www_m_"></script>
<div id="wp-widget-reviews">
    <div id="wp-widget-preview">
        Read <a href="https://www.weddingwire.com/wedding-djs/austin-wedding-helpers--e693061/reviews">View reviews:</a> in &nbsp;
        <a href='https://www.weddingwire.com'>
            <img src="https://cdn1.weddingwire.com/assets/img/logos/gen_logoHeader.svg" height="20">
        </a>
    </div>
</div>
<script>wpShowReviews(693061, "black");</script>
</div>
<br><br><br>
